/* ============================== 
   ALLGEMEINE ANGABEN 
   ============================== */

   * {box-sizing: border-box;}
   body{
     margin: 0;
   }
   
/* ============================== 
   CSS GRID
   ============================== */

   .grid {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-gap: 0;
   }

/* Layout-Spalten Format */
#left, #middle, #right {
       display: grid;
     }

/* Layout-Spalten Position */
 #left {
  grid-column: 1 / 3;
  grid-row: 1;
}

#middle {
  grid-column: 3 / 10;
  grid-row: 1;
}

#right {
  grid-column: 10 / 13;
  grid-row: 1;
  background-color: lightgrey;
}

/* Layout-Spalten Optik */
#right {
  background-color: lightgrey;
}